@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* my custom global css */

/* no overscroll. like a native app */
html, body {
  overscroll-behavior: none;
}

body {
  padding: 1rem;
}
/* animation */


